* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    width: 70%;
    height: 700px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 0px 3px gray;
    position: relative;
    overflow: hidden;
}
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}
.nav {
    text-align: center;
    margin-top: 15px;
display: flex;
justify-content: space-evenly;

}
/* .nav button  {
    font-size: 25px;
    padding: 5px;
    background-color: rgb(96, 107, 107);
} */

/* i {
    font-size: 50px;
    font-weight: 900;

} */



.prevBtn {
    font-size: 60px;
    font-weight: 900;
    /* margin-left: 200px; */
    position: absolute;
    left:7vw;
    top: 380px;
}

.NextBtn{
    font-size: 60px;
    font-weight: 900;
    /* margin-left: 200px; */
    position: absolute;
    left:90vw;
    top: 380px;
}
@media screen and (max-width: 600px) {
    .prevBtn {
    position: absolute;
    left: 0.10vw;
 }
 .NextBtn{
    position: absolute;
    left: 85vw;
 }    
}